form(action="/postdb" method="post")
    div.form-group.container
        h6 nhập tên
        input(type="text" name="ten" )
        h6 nhập điểm trung bình
        input(type="text" name="diem_trung_binh" )
        h6 nhập hạnh kiểm
        input(type="text" name="hanh_kiem" )
        button(type="submit") submit
